@use './breakpoints' as *;
@use 'sass:map';

@function breakpoint($size) {
  @return map.get($breakpoints, $size);
}

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $size: map.get($breakpoints, $size);
    $size: $size - 0.001;
  }
  $type: max;

  @media only screen and (#{$type}-width: #{$size}px) {
    @content;
  }
}
