@use '@/styles/theme' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed $primary;
  border-radius: 12px;
  padding: 8px;
  width: 320px;
  height: 320px;
  transition: background-color 0.3s ease;

  &.isDragActive {
    background-color: $background-02;
  }

  &.isDragReject {
    color: red;
    cursor: not-allowed;
  }
}

.fileLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: $background-02;
  border-radius: 4px;
  padding: 8px;
}
