@use 'styles/main' as *;

.app {
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  background-color: $background-01;

  .fileExtractContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
  }
}
